@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
	/* --bgcolor: rgb(2, 0, 36); */
	bgcolor: white;

}

* {
	margin: 0;
	padding: 0;
	/* font-family: Garamond; */
	font-family: 'Source Code Pro', monospace;
}

body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	background: var(--bgcolor);
	color:#62ba46;
	
}
ul {
	list-style: none;
}
h1 {
	font-size: 5rem;
	position: relative;
	/* text-transform: uppercase; */
	transition: all 300ms ease;
	width: fit-content;
	cursor: pointer;
}
h1:hover {
	transform: skew(10deg);
}
h1::before {
	content: attr(data-name);
	position: absolute;
	top: 0;
	left: -20px;
	background: var(--bgcolor);
	height: 3rem;
	overflow: hidden;
	transition: all 300ms ease;
	padding-left: 20px;
}
h1:hover::before {
	top: -3px;
	left: 0px;
	color:#62ba46;
}

h1::after {
	content: "";
	height: 4px;
	width: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #62ba46;
	transition: all 300ms ease;
}
h1:hover::after {
	width: 120%;
	outline: 1px solid rgb(0, 0, 0);
}

#nav .nav-link a {
	color: inherit; /* Use the same color as the parent element */
	text-decoration: none; /* Remove the underline */
  }
  
  #nav .nav-link a:hover {
	color:rgb(0, 47, 50); /* Change the color when the link is hovered */
  }

/* //////////////////////////// */

/*  links sidebar CSS  */
._social-links {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translatey(-50%);
	padding: 1em 0.5em 1em 1em;
	background:#62ba46;
	border-radius: 0.5em 0 0 0.5em;
	box-shadow: -4px 0px 0px hotpink;
	transition: all 300ms ease;
}

._social-links:hover {
	box-shadow: -8px 0px 20px rgb(30, 141, 80);
	padding: 1em;
}
._links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
._social-link a {
	color: #111;
	font-size: 1.5rem;
	transition: all 200ms ease;
}
._social-link a:visited {
	color: #111;
}
._social-link a:hover {
	color: rgb(30, 141, 80);
	font-size: 1.75rem;
}

._social-link img {
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
}


/* //////////////////////////// */
/* Responsiveness           */
header {
  position: relative;

  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack the logo and menu items vertically */
  align-items: center; /* Center the logo and menu items horizontally */
}

header img {
  order: 2; /* Display the logo below the menu items by default */
  width: 50%; /* Adjust as needed */
 
  height: auto;
}

@media screen and (min-width: 1024px) { /* Adjust as needed */
  header img {
    width: 550px; /* Adjust as needed */
    
  }
}

@media screen and (min-width: 520px) {
  header {
    position: fixed;
    /* top: 40px; */
    align-items: flex-start; /* Align the logo and menu items to the left */
    /* transform: translateY(-50%); Move the header up by half its height to center it vertically */
  }
  header img {
    order: 1;
  }
}


@media screen and (max-width: 520px) {
	._social-links {
		position: fixed;
		right: 0;
		
		top: 65%;
		transform: translatey(-50%);
		padding: 1em 0.5em 1em 1em;
		background: #62ba46;
		border-radius: 0.5em 0 0 0.5em;
		box-shadow: -4px 0px 0px hotpink;
		transition: all 300ms ease;
	}
}